body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container{
  box-shadow: 4px 3px 5px 3px bisque;
  border-radius: 10px;
  border: 3pxz solid black;
}
button{
  box-shadow: 3px 2px 3px 2px rgb(221, 216, 211);
  border-radius: 5px;
   color: rgb(158, 153, 146);
}

